<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- ETIQUETAS CON CONTROLLER Activar despues -->
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	    <link th:rel="stylesheet" th:href="@{/css/estilos.css}"> 
	    <!--  -->
	    
	    
	</head>
	<body>
	<aside  th:fragment="aside" >
		<!-- <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
			<strong class="d-block h6 my-2 pb-2 border-bottom">On this
				page</strong>
			<nav id="TableOfContents">
				<ul>
					<li><a href="#fixed-top">Fixed top</a></li>
					<li><a href="#fixed-bottom">Fixed bottom</a></li>
					<li><a href="#sticky-top">Sticky top</a></li>
					<li><a href="#responsive-sticky-top">Responsive sticky top</a></li>
				</ul>
			</nav>
		</div>-->
	</aside> 
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>