<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>header</title>
</head>
<body>
	<header>
		<div class="p-5 text-center bg-image head">
			<div class="mask">
				<div class="d-flex justify-content-center align-items-center h-100">
					<div class="text-white">
						<br>
						<h1 class="mb-3">Alimentación saludable Tocobi</h1>
						<br>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
</html>