<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Inicio</title>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
	<!-- ENCABEZADO -->
	<header th:replace="~{layouts/header :: header}"></header>
	<div class="b-example-divider"></div>
	<div class="container">

		<!-- BARRA DE NAVEGACION -->
		<nav th:replace="~{layouts/nav :: nav} "></nav>
		<div class="b-example-divider"></div>
		<!-- CONTENIDO PRIMARIO -->
		<!-- Inicio del contenido de la pagina -->
		<div
			class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
			<div class="col-md-5 p-lg-5 mx-auto my-5">
				<h1 class="display-4 fw-normal">SALUD Y BIENESTAR</h1>
				<p class="lead fw-normal">"El cuidado de tu salud y bienestar es
					esencial para disfrutar de una vida plena y satisfactoria. En un
					mundo cada vez más ocupado y estresante, es fácil descuidar tu
					bienestar físico y emocional. Sin embargo, tomar medidas para
					cuidar tu cuerpo y mente puede ayudarte a sentirte mejor, tener más
					energía y ser más productivo en todas las áreas de tu vida. Desde
					la alimentación saludable y la actividad física regular hasta la
					meditación y el cuidado adecuado del sueño, hay muchas formas en
					que puedes priorizar tu salud y bienestar. A través de hábitos
					saludables y prácticas conscientes, puedes mejorar tu calidad de
					vida y sentirte mejor equipado para enfrentar los desafíos diarios
					con confianza y resiliencia."</p>
				<a class="btn btn-outline-secondary" th:href="@{/registro/nuevo}">Registrate</a>
			</div>
			<div class="product-device shadow-sm d-none d-md-block"></div>
			<div
				class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
		</div>
		<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
			<div
				class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
				<div class="my-3 py-3">
					<h2 class="display-5">SERVICIOS</h2>
					<p class="lead">Conoce tu estado de salud y alcanza tu peso
						ideal con nuestros servicios.</p>
					<a class="btn btn-outline-secondary" th:href="@{/index}">Ir a
						Servicios</a>
				</div>
				<div class="bg-light shadow-sm mx-auto"
					style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
			</div>
			<div
				class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
				<div class="my-3 p-3">
					<h2 class="display-5">RECETAS</h2>
					<p class="lead">Deliciosas opciones para una alimentación
						saludable y equilibrada.</p>
					<a class="btn btn-outline-secondary" th:href="@{/index}">Ir a
						Recetas</a>
				</div>
				<div class="bg-dark shadow-sm mx-auto"
					style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
			</div>
		</div>
		<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
			<div
				class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
				<div class="my-3 p-3">
					<h2 class="display-5">TESTIMONIOS</h2>
					<p class="lead">Descubre cómo nuestros servicios han
						transformado vidas y mejorado la salud y el bienestar de nuestros
						clientes.</p>
					<a class="btn btn-outline-secondary" th:href="@{/index}">Ir a
						Testimonios</a>
				</div>
				<div class="bg-dark shadow-sm mx-auto"
					style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
			</div>
			<div
				class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
				<div class="my-3 py-3">
					<h2 class="display-5">CONTACTANOS</h2>
					<p class="lead">Estamos aquí para ayudarte: contáctanos para
						obtener más información sobre nuestros servicios de salud y
						bienestar.</p>
					<a class="btn btn-outline-secondary" th:href="@{/index}">Ir a
						Contacto</a>
				</div>
				<div class="bg-light shadow-sm mx-auto"
					style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
			</div>
		</div>
		<div class="b-example-divider"></div>
		<!-- Final del contenido de la pagina  -->
		<!-- CONTENIDO SECUNDARIO -->
		<aside></aside>
		<div class="b-example-divider"></div>
		<!-- PIE DE PAGINA -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>