<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Registrate</title>
		<!-- imagen que podemos poner fijarse -->
		<link th:rel="shortcut icon" th:href="@{../static/images/PONERIMAGEN.JPG}">
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	    <link th:rel="stylesheet" th:href="@{/css/estilos.css}"> 
	</head>
<body>
	<!-- ENCABEZADO -->
	<header th:replace="~{layouts/header :: header}"></header>
	<div class="b-example-divider"></div>
	<!-- BARRA DE NAVEGACION -->
	<nav th:replace="~{layouts/nav :: nav} "></nav>
	<div class="b-example-divider"></div>
	<!-- CONTENIDO PRIMARIO -->
		<!-- Inicio del contenido de la pagina -->
		<form th:action="${edicion}?@{/registro/modificar}:@{/registro/guardar}" class="text-center" class="form-signin" th:object="${registro}" method="post">
			<img class="mb-4" th:src="" width="72" height="57">
			<h1 class="h3 mb-3 fw-normal">REGISTRATE</h1>
				<div class="form-floating">
				<input type="text" class="form-control" id="floatingInput"
									placeholder="Ana Laura" th:field="*{nombre}">
					<label for="floatingInput">Nombre</label>
					<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</div>
				<div class="form-floating">
				<input type="text" class="form-control" id="floatingInput"
									placeholder="Torres" th:field="*{apellido}">
					<label for="floatingInput">Apellido</label>
					<div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
				</div>
				<div class="form-floating">
				<input type="email" class="form-control" id="floatingInput"
									placeholder="usuario@ejemplo.com" th:field="*{email}">
					<label for="floatingInput">Correo electrónico</label>
					<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				</div>
				<div class="form-floating">
				<input type="date" class="form-control" id="floatingInput"
									placeholder="18/09/1996" th:field="*{fechaNacimiento}">
					<label for="floatingInput">Fecha de Nacimiento</label>
					<div class="text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
				</div>
				<div class="form-floating">
				<input type="text" class="form-control" id="floatingInput"
									placeholder="388-550-5899" th:field="*{telefono}">
					<label for="floatingInput">Teléfono</label>
					<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
				</div>
				<div class="form-floating">
					<label for="floatingInput">Sexo</label>
					<select id="floatingInput" th:field="*{sexo}">
						<option value="" selected>Seleccione una opcion</option>
						<option value="Femenino">Femenino</option>
						<option value="Masculino">Masculino</option>
					</select>
					<div class="text-danger" th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></div>
				</div>
				<div class="form-floating">
				<input type="text" class="form-control" id="floatingInput"
									placeholder="Estatura" th:field="*{estatura}">
					<label for="floatingInput">Estatura</label>
					<div class="text-danger" th:if="${#fields.hasErrors('estatura')}" th:errors="*{estatura}"></div>
				</div>
			<button class="w-100 btn btn-lg btn-outline-secondary" type="submit">Guardar</button>
		</form>
		<!-- Final del contenido de la pagina  -->
	<!-- CONTENIDO SECUNDARIO -->
	<aside th:replace="~{layouts/aside :: aside}"></aside>
	<div class="b-example-divider"></div>
	<!-- PIE DE PAGINA -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>