<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Servicios</title>
		<!-- imagen que podemos poner fijarse -->
		<link th:rel="shortcut icon" th:href="@{../static/images/PONERIMAGEN.JPG}">
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	    <link th:rel="stylesheet" th:href="@{/css/estilos.css}"> 
	</head>
	<body>
	<!-- ENCABEZADO -->
		<header th:replace="~{layouts/header :: header}"></header>
		<div class="b-example-divider"></div>
	<!-- BARRA DE NAVEGACION -->
		<nav th:replace="~{layouts/nav :: nav} "></nav>
		<div class="b-example-divider"></div>
	<!-- CONTENIDO PRIMARIO -->
		<!-- Inicio del contenido de la pagina -->
		<!-- IMC QUE ME REDIRIJA A GESTION DE DATOS -->
	<div class="px-4 py-5 my-5 text-center">
		<img class="d-block mx-auto mb-4"
			src=""  width="72"
			height="57">
		<h1 class="display-5 fw-bold">SERVICIOS</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">Bienvenido/a a nuestros
				servicios de salud y bienestar. Nos complace ofrecerte la
				oportunidad de calcular tu índice de masa corporal (IMC) y tu peso
				ideal. El IMC es una medida que se utiliza para evaluar si una
				persona tiene un peso saludable en relación con su altura. Para
				calcular tu IMC, necesitamos que nos proporciones tu peso y tu
				altura. Una vez que tengamos esta información, podemos realizar el
				cálculo y brindarte una evaluación de tu estado actual de salud.

				Además, también podemos ayudarte a determinar tu peso ideal. El peso
				ideal es el peso que se considera saludable para tu altura, edad y
				género. Si estás interesado/a en conocer tu peso ideal, simplemente
				proporciónanos tu información personal y te brindaremos una
				evaluación personalizada. Recuerda que mantener un peso saludable es
				importante para tu bienestar físico y emocional. Nuestro equipo está
				aquí para ayudarte a alcanzar tus metas de salud y bienestar. ¡No
				dudes en contactarnos para obtener más información!</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
			<!-- poner referencia a los botones redirigir a gestion de datos -->
				<button type="button" class="btn btn-primary btn-lg px-4 gap-3">Calcular IMC</button>
				<button type="button" class="btn btn-outline-secondary btn-lg px-4">Peso Ideal</button>
			</div>
		</div>
	</div>
	<!-- Final del contenido de la pagina  -->
	<!-- CONTENIDO SECUNDARIO -->
		<aside th:replace="~{layouts/aside :: aside}"></aside>
		<div class="b-example-divider"></div>
	<!-- PIE DE PAGINA -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>