<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Testimonios</title>
		<!-- imagen que podemos poner fijarse -->
		<link th:rel="shortcut icon" th:href="@{../static/images/PONERIMAGEN.JPG}">
		<link th:rel="stylesheet"
			th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link th:rel="stylesheet" th:href="@{/css/estilos.css}">
	
	</head>
	<body>
		<!-- ENCABEZADO -->
		<header th:replace="~{layouts/header :: header}"></header>
		<div class="b-example-divider"></div>
	<!-- BARRA DE NAVEGACION -->
		<nav th:replace="~{layouts/nav :: nav} "></nav>
		<div class="b-example-divider"></div>
	<!-- CONTENIDO PRIMARIO -->
		<!-- Inicio del contenido de la pagina -->
		<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">TESTIMONIOS</h1>
				<p class="lead text-muted">¡Bienvenidos a nuestra sección de
					testimonios! Aquí podrás leer las experiencias de algunas de las
					personas que han mejorado su salud y bienestar nutricional gracias
					a nuestros servicios. Nos enorgullece compartir estas historias
					contigo, ya que son una muestra del impacto positivo que podemos
					tener en la vida de nuestros clientes. Desde perder peso y mejorar
					la digestión hasta aumentar la energía y reducir el estrés, hay una
					gran variedad de beneficios que nuestros programas pueden ofrecer.

					Si estás buscando una forma efectiva y sostenible de mejorar tu
					salud y bienestar nutricional, te invitamos a leer estos
					testimonios y considerar la posibilidad de unirte a nuestra
					comunidad. ¡Juntos podemos lograr tus metas de salud!</p>
			</div>
		</div>
	</section>
	<div class="b-example-divider"></div>
	<!-- Testimonios ya cargados -->
	<div class="container px-4 py-5" id="featured-3">
		<h2 class="pb-2 border-bottom">"Testimonios: Historias de éxito en salud y bienestar nutricional"</h2>
		<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
			<div class="feature col">
				<div class="feature-icon bg-primary bg-gradient">
					<img class="bi" width="1em" height="1em"></img>
				</div>
				<h2>NOMBRE DE USUARIO</h2>
				<p>¡Hola! Mi nombre es Ana y quiero compartir mi experiencia con
					los servicios de salud y bienestar nutricional de esta página.

					Desde hace años, he estado lidiando con problemas de digestión y
					falta de energía. Había intentado todo tipo de dietas y
					suplementos, pero nada parecía funcionar a largo plazo. Fue
					entonces cuando encontré esta página y decidí darle una
					oportunidad. Desde el primer momento, me sentí apoyada por el
					equipo de profesionales que me guió en mi camino hacia una
					alimentación más saludable y equilibrada. Me ayudaron a identificar
					mis necesidades nutricionales y me brindaron herramientas para
					hacer cambios graduales en mi estilo de vida. Después de unas
					semanas siguiendo sus recomendaciones, comencé a notar una gran
					diferencia en mi cuerpo y mi mente. Mis problemas de digestión
					disminuyeron significativamente y mi energía aumentó de forma
					notable. Además, perdí unos kilos que había estado tratando de
					eliminar durante años. Estoy muy agradecida con todo el equipo de
					esta página por ayudarme a mejorar mi salud y bienestar. Recomiendo
					sus servicios a cualquier persona que quiera hacer cambios
					positivos en su vida. ¡Gracias!</p>
			</div>
			<div class="feature col">
				<div class="feature-icon bg-primary bg-gradient">
					<img class="bi" width="1em" height="1em"></img>
				</div>
				<h2>NOMBRE DE USUARIO</h2>
				<p>¡Hola! Mi nombre es Ana y quiero compartir mi experiencia con
					los servicios de salud y bienestar nutricional de esta página.

					Desde hace años, he estado lidiando con problemas de digestión y
					falta de energía. Había intentado todo tipo de dietas y
					suplementos, pero nada parecía funcionar a largo plazo. Fue
					entonces cuando encontré esta página y decidí darle una
					oportunidad. Desde el primer momento, me sentí apoyada por el
					equipo de profesionales que me guió en mi camino hacia una
					alimentación más saludable y equilibrada. Me ayudaron a identificar
					mis necesidades nutricionales y me brindaron herramientas para
					hacer cambios graduales en mi estilo de vida. Después de unas
					semanas siguiendo sus recomendaciones, comencé a notar una gran
					diferencia en mi cuerpo y mi mente. Mis problemas de digestión
					disminuyeron significativamente y mi energía aumentó de forma
					notable. Además, perdí unos kilos que había estado tratando de
					eliminar durante años. Estoy muy agradecida con todo el equipo de
					esta página por ayudarme a mejorar mi salud y bienestar. Recomiendo
					sus servicios a cualquier persona que quiera hacer cambios
					positivos en su vida. ¡Gracias!</p>
			</div>
			<div class="feature col">
				<div class="feature-icon bg-primary bg-gradient">
					<img class="bi" width="1em" height="1em"></img>
				</div>
				<h2>NOMBRE DE USUARIO</h2>
				<p>¡Hola! Mi nombre es Ana y quiero compartir mi experiencia con
					los servicios de salud y bienestar nutricional de esta página.

					Desde hace años, he estado lidiando con problemas de digestión y
					falta de energía. Había intentado todo tipo de dietas y
					suplementos, pero nada parecía funcionar a largo plazo. Fue
					entonces cuando encontré esta página y decidí darle una
					oportunidad. Desde el primer momento, me sentí apoyada por el
					equipo de profesionales que me guió en mi camino hacia una
					alimentación más saludable y equilibrada. Me ayudaron a identificar
					mis necesidades nutricionales y me brindaron herramientas para
					hacer cambios graduales en mi estilo de vida. Después de unas
					semanas siguiendo sus recomendaciones, comencé a notar una gran
					diferencia en mi cuerpo y mi mente. Mis problemas de digestión
					disminuyeron significativamente y mi energía aumentó de forma
					notable. Además, perdí unos kilos que había estado tratando de
					eliminar durante años. Estoy muy agradecida con todo el equipo de
					esta página por ayudarme a mejorar mi salud y bienestar. Recomiendo
					sus servicios a cualquier persona que quiera hacer cambios
					positivos en su vida. ¡Gracias!</p>
			</div>
		</div>
	</div>
	<!-- Tu testimonio -->
	<div class="b-example-divider"></div>
	<div class="container col-xl-10 col-xxl-8 px-4 py-5">
		<div class="row align-items-center g-lg-5 py-5">
			<div class="col-lg-7 text-center text-lg-start">
				<h1 class="display-4 fw-bold lh-1 mb-3">"Testimonios: Historias
					de éxito en salud y bienestar nutricional"</h1>
				<p class="col-lg-10 fs-4">¡Comparte tu experiencia con nosotros!
					Queremos saber cómo nuestros servicios han impactado tu vida y cómo
					has mejorado tu salud y bienestar nutricional gracias a ellos. Tu
					testimonio puede inspirar a otros a tomar el control de su salud y
					unirse a nuestra comunidad.</p>
			</div>
			<div class="col-md-10 mx-auto col-lg-5">
				<form class="p-4 p-md-5 border rounded-3 bg-light">
				<p class="col-lg-10 fs-4">¡Cuéntanos tu historia!</p>
				<hr class="my-4">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput"
							placeholder="Identificador de usuario"> <label
							for="floatingInput">ID de usuario:</label>
					</div>
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingPassword"
							placeholder="Testimonio"> <label for="floatingPassword">Contanos tu experiencia:</label>
					</div>
					<button class="w-100 btn btn-lg btn-outline-secondary" type="submit" th:href="">Guardar</button>
				</form>
			</div>
		</div>
	</div>
	<!-- Final del contenido de la pagina  -->
	<!-- CONTENIDO SECUNDARIO -->
		<aside th:replace="~{layouts/aside :: aside}"></aside>
		<div class="b-example-divider"></div>
	<!-- PIE DE PAGINA -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript"
			th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>