* {
	margin: 0px;
	padding: 0px;
}
/* header{
	background-image: url(../images/header2.jpg); height: 400px;
} */
.head{
	background-image: url(../images/header2.jpg);
	height: 400px;
}
.mask{
	background-color: rgba(0, 0, 0, 0.6);
}